@font-face {
  font-family: zymkwap;
  src: url(//at.alicdn.com/t/font_208819_j15y1xuezsl15rk9.eot);
  src: url(//at.alicdn.com/t/font_208819_j15y1xuezsl15rk9.eot#iefix) format("embedded-opentype"),
    url(//at.alicdn.com/t/font_208819_j15y1xuezsl15rk9.woff) format("woff"),
    url(//at.alicdn.com/t/font_208819_j15y1xuezsl15rk9.ttf) format("truetype"),
    url(//at.alicdn.com/t/font_208819_j15y1xuezsl15rk9.svg#zymkwap) format("svg")
}

.ift,
[class*=ift-] {
  font-family: zymkwap !important;
  font-size: .4266709333rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.ift-user:before {
  content: "\E600"
}

.ift-download:before {
  content: "\E610"
}

.ift-ttpodicon:before {
  content: "\E61F"
}

.ift-clock:before {
  content: "\E6A2"
}

.ift-add:before {
  content: "\E7BF"
}

.ift-you:before {
  content: "\E615"
}

.ift-you1:before {
  content: "\E616"
}

.ift-add1:before {
  content: "\E60B"
}

.ift-weixin:before {
  content: "\E64F"
}

.ift-heart:before {
  content: "\E627"
}

.ift-share1:before {
  content: "\E614"
}

.ift-qqzone:before {
  content: "\E65C"
}

.ift-male:before {
  content: "\E621"
}

.ift-lock:before {
  content: "\E6CC"
}

.ift-pc:before {
  content: "\E613"
}

.ift-dot:before {
  content: "\E642"
}

.ift-phone:before {
  content: "\E62C"
}

.ift-unlock:before {
  content: "\E63D"
}

.ift-up:before {
  content: "\E645"
}

.ift-down:before {
  content: "\E647"
}

.ift-fankui:before {
  content: "\E611"
}

.ift-comment:before {
  content: "\E692"
}

.ift-uncheck:before {
  content: "\E622"
}

.ift-checked:before {
  content: "\E61D"
}

.ift-juan:before {
  content: "\E619"
}

.ift-star:before {
  content: "\E60E"
}

.ift-xing:before {
  content: "\E60F"
}

.ift-adress:before {
  content: "\E61B"
}

.ift-prev:before {
  content: "\E659"
}

.ift-qq:before {
  content: "\E65B"
}

.ift-sina:before {
  content: "\E660"
}

.ift-more:before {
  content: "\E666"
}

.ift-next:before {
  content: "\E667"
}

.ift-del:before {
  content: "\E66E"
}

.ift-single:before {
  content: "\E61A"
}

.ift-noticetongzhi:before {
  content: "\E648"
}

.ift-share:before {
  content: "\E620"
}

.ift-caretdown:before {
  content: "\E735"
}

.ift-check:before {
  content: "\E6B9"
}

.ift-power1:before {
  content: "\E65D"
}

.ift-shu:before {
  content: "\E767"
}

.ift-female:before {
  content: "\E7A0"
}

.ift-chapter:before {
  content: "\E694"
}

.ift-read:before {
  content: "\E698"
}

.ift-goback:before {
  content: "\E69D"
}

.ift-more1:before {
  content: "\E69F"
}

.ift-collect:before {
  content: "\E6A3"
}

.ift-love_money:before {
  content: "\E6A4"
}

.ift-home-outline:before {
  content: "\E6A5"
}

.ift-fire:before {
  content: "\E6A6"
}

.ift-home:before {
  content: "\E6A7"
}

.ift-mine-outline:before {
  content: "\E6A8"
}

.ift-mine:before {
  content: "\E6A9"
}

.ift-recommend:before {
  content: "\E6AA"
}

.ift-search:before {
  content: "\E6AB"
}

.ift-works:before {
  content: "\E6AC"
}

.ift-ticket:before {
  content: "\E6AD"
}

.ift-book_outline:before {
  content: "\E6AE"
}

.ift-class:before {
  content: "\E6AF"
}

.ift-class-outline:before {
  content: "\E6B0"
}

.ift-book:before {
  content: "\E6B1"
}

.ift-autor_dk:before {
  content: "\E6B2"
}

.ift-autor_xr:before {
  content: "\E6B3"
}

.ift-lovered_outline:before {
  content: "\E6B6"
}

.ift-lovered:before {
  content: "\E6B7"
}

.ift-message:before {
  content: "\E6B8"
}

.ift-qq_zone:before {
  content: "\E699"
}

.ift-fkbc:before {
  content: "\E601"
}

.ift-gxqm:before {
  content: "\E602"
}

.ift-rjfx:before {
  content: "\E603"
}

.ift-jcgx:before {
  content: "\E604"
}

.ift-gywm:before {
  content: "\E605"
}

.ift-rjsz:before {
  content: "\E606"
}

.ift-wdsd:before {
  content: "\E607"
}

.ift-wdsj:before {
  content: "\E608"
}

.ift-wdtc:before {
  content: "\E609"
}

.ift-me_money:before {
  content: "\E60A"
}

.ift-support:before {
  content: "\E60C"
}

.ift-du:before {
  content: "\E636"
}

.ift-close:before {
  content: "\E6BD"
}

.ift-mantou:before {
  content: "\E6CE"
}

.ift-help:before {
  content: "\E60D"
}

.ift-layout-nine:before {
  content: "\E612"
}

.ift-layout-list:before {
  content: "\E617"
}

.ift-manage:before {
  content: "\E618"
}

.ift-unmanage:before {
  content: "\E61C"
}

.ift-null:before {
  content: "\E61E"
}

.ift-yanjing_close:before {
  content: "\E6D1"
}

.ift-lock1:before {
  content: "\E6D2"
}

.ift-yanjing:before {
  content: "\E6D3"
}

.ift-mantou_:before {
  content: "\E6D4"
}

.ift-positon:before {
  content: "\E623"
}

.ift-jgz:before {
  content: "\E624"
}

.ift-ygz:before {
  content: "\E625"
}

.ift-hxgz:before {
  content: "\E629"
}

.ift-xz-hd:before {
  content: "\E628"
}

.ift-gohome:before {
  content: "\E626"
}

.ift-add2:before {
  content: "\E62A"
}

.ift-gift:before {
  content: "\E644"
}

.ift-baozi2:before {
  content: "\E62B"
}

.ift-baozi1:before {
  content: "\E62D"
}

.ift-find-outline:before {
  content: "\E6DA"
}

.ift-find:before {
  content: "\E6DB"
}

.ift-cheng:before {
  content: "\E62E"
}